@model List<GeekDaysEdu.Models.ResourceModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    @Styles.Render("~/Content/listing/css")
}

<main>
    <!--Main layout-->
    <div class="container">
        @if (Model.Any())
        {
            <!--Page heading-->
            <div class="row">
                <div class="col-md-12">
                    <h1 class="h1-responsive">
                        Курсы по категории
                        <small class="text-muted">@Model[0].Category.Name</small>
                    </h1>
                </div>
            </div>
            <!--/.Page heading-->
            <hr>

            <!--First row-->
            <div class="row">
            <!--First column-->
            @foreach (var res in Model)
            {
                <div class="col-md-4">
                    <!--Card-->
                    <div class="card">

                        <!--Card image-->
                        <div class="view overlay hm-white-slight">
                            <img src="@res.LinkToImg" class="img-fluid" alt="">
                            <a href="#!">
                                <div class="mask"></div>
                            </a>
                        </div>
                        <!--/.Card image-->
                        <!--Card content-->
                        <div class="card-block">
                            <!--Title-->
                            <h4 class="card-title">@res.Name</h4>
                            <!--Text-->
                            <p class="card-text">Просмотрите курс, нажав на кнопку ниже...</p>
                            <div class="read-more">
                                <a href="~/ResourceModels/Details/@res.ResourceId" class="btn btn-primary">Просмотр</a>
                            </div>
                        </div>
                        <!--/.Card content-->

                    </div>
                    <!--/.Card-->
                </div>
            }
            </div>
        }
        else
        {
            <div class="row">
                <div class="col-md-12">
                    <h1 class="h1-responsive">
                        Курсов в данной категории не найдено!
                    </h1>
                </div>
            </div>
        }
        <!--/.Second row-->
    </div>
    <!--/.Main layout-->
</main>

