@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="jumbotron">
        <h1>Sury - Агрегатор онлайн-курсов</h1>
        <p>Данное приложение предназначено для поиска курсов с различных ресурсов, в том числе и в сети Интернет</p>
        <a href="~/Category/Categories"><div class="btn btn-warning"><span class="glyphicon glyphicon-fire"></span> Перейти к курсам</div></a>
    </div>
</div>