@using System.Web.UI.WebControls
@using Microsoft.AspNet.Identity
@model System.Collections.Generic.List<GeekDaysEdu.Models.Link>

@{
    ViewBag.Title = "Профиль";
}

<div class="container">
    <h4>Курсы пользователя @User.Identity.GetUserName()</h4>
    <a href="~/Profile/Schedule"><h5>Перейти к расписанию</h5></a>
    <hr>
    @foreach (var res in Model)
    {
        <div class="col-md-6">
            <h5>@res.ResourceModel.Name</h5>
            @switch (res.Status)
            {
                case 0:
                    <p style="color: #aaaaaa">Проходит</p>
                    <a target="_blank" href="@res.ResourceModel.URL"><div class="btn btn-info">К курсу</div></a>
                    <a href="~/Profile/MarkCompleted/@res.ResourceModel.ResourceId">
                        <div class="btn btn-warning">Пройден</div>
                    </a>
                    <a href="~/Profile/ScheduleCourse/@res.ResourceModel.ResourceId">
                        <div class="btn btn-success">Запланировать</div>
                    </a>
                    break;
                case 1:
                    <p style="color: #aaaaaa">Пройден</p>
                    <a target="_blank" href="@res.ResourceModel.URL"><div class="btn btn-info">К курсу</div></a>
                    break;
            }

        </div>
    }
</div>