@using System.Web.UI.WebControls
@using Microsoft.AspNet.Identity
@model System.Collections.Generic.List<GeekDaysEdu.Models.Link>

@{
    ViewBag.Title = "Профиль";
}

<div class="container">
    <h4>Курсы пользователя @User.Identity.GetUserName()</h4>
    <hr>
    @foreach (var res in Model)
    {
        <div class="col-md-4">
            <h5>@res.ResourceModel.Name</h5>
            @switch (res.Status)
            {
                case 0:
                    <p style="color: #aaaaaa">Проходит</p>
                    <a href="@res.ResourceModel.URL"><div class="btn btn-info">К курсу</div></a>
                    <a href="#"><div class="btn btn-warning">Пройден</div></a>
                    break;
                case 1:
                    <small style="color: #aaaaaa">Пройден</small>
                    break;
            }

        </div>
    }
</div>