@model IEnumerable<GeekDaysEdu.Models.ResourceModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail" style="height: 600px">
                <img src=@item.LinkToImg alt="..." style="width: 150px; height: 150px">
                <div class="caption">
                    <h4>@item.Name</h4>
                    <p>@item.getSmallDiscr()</p>
                    <p><a href=@Url.Action("Details", new { id = item.ResourceId }) class="btn btn-primary" role="button">Подробнее</a></p>
                </div>
            </div>
        </div>
    }
</div>
